.dashboard {
    height: calc(100vh - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    @apply bg-primary;
    padding: 30px;
}
.dashboard__btn {
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
    border: none;
    color: white;
}
.dashboard div {
    margin-top: 7px;
}
.dashboard__container div:last-of-type {
    margin-top: 0px;
}
