* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @apply bg-primary text-gray-300;
}

body {
  @apply overflow-y-scroll;
  @apply overflow-x-hidden;
  @apply lg:ml-[230px];
}

#__next {
  padding-top: 5px;
}

.borderText {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Disable rounded corners on input fields using Safari (iPhone & iPad) */
input[type="search"] {
  border-radius: 0;
  -webkit-appearance: none;
}

.comic-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-auto-rows: 1fr;
}

@media only screen and (min-width: 320px) {
  .comic-list {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media only screen and (min-width: 480px) {
  .comic-list {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media only screen and (min-width: 768px) {
  .comic-list {
    grid-template-columns: repeat(5, minmax(100px, 1fr));
  }
  .login__container,
  .reset__container,
  .register__container {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .comic-list {
    grid-template-columns: repeat(7, minmax(100px, 1fr));
  }
}

@media only screen and (min-width: 1200px) {
  .comic-list {
    grid-template-columns: repeat(8, minmax(100px, 1fr));
    grid-column-gap: 0.6rem;
  }
  .login__container,
  .reset__container,
  .register__container {
    width: 30%;
  }
}

#keyword::placeholder {
  color: white;
  opacity: 1;
}

#keyword:-ms-input-placeholder {
  color: white;
}

#keyword::-ms-input-placeholder {
  color: white;
}

#leftNav2 {
  overflow-y: overlay;
}

#leftNav2::-webkit-scrollbar {
  display: none;
}

#leftNav2:hover::-webkit-scrollbar {
  display: block;
}

.prevent-page-scrolling {
  overflow-y: hidden;
  overscroll-behavior: contain;
}
