.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: translate(-27px, 10px);
  /* left: 0; */
}

.dropdown::after {
  content: "";
  height: 10px;
  transform: translate(-27px, 0px);
  position: absolute;
  width: 100px;
}

.dropdown-content::before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 7px);
  top: -6px;
  border-style: solid;
  border-width: 0 7px 9px 7px;
  border-color: transparent transparent #fff transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
