* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @apply bg-primary text-gray-300;
  font-family: Arial, Helvetica, sans-serif;
}

.borderText {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Disable rounded corners on input fields using Safari (iPhone & iPad) */
input {
  -webkit-appearance: none;
}

.comic-list {
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-auto-rows: 1fr;
}

@media only screen and (min-width: 320px) {
  .comic-list {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media only screen and (min-width: 480px) {
  .comic-list {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media only screen and (min-width: 768px) {
  .comic-list {
    grid-template-columns: repeat(5, minmax(100px, 1fr));
  }
}

@media only screen and (min-width: 992px) {
  .comic-list {
    grid-template-columns: repeat(7, minmax(100px, 1fr));
  }
}

@media only screen and (min-width: 1200px) {
  .comic-list {
    grid-template-columns: repeat(8, minmax(100px, 1fr));
  }
}