/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  @apply bg-primary text-gray-300;
  font-family: Arial, Helvetica, sans-serif;
}