.reset {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reset__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  @apply bg-primary;
  padding: 0px 3vw;
  width: 100%;
}
.reset__textBox {
  padding: 10px 10px 10px 20px;
  margin-bottom: 10px;
  border-radius: 9999px;
  color: black;
}
.reset__btn {
  padding: 10px;
  font-size: 17px;
  margin-bottom: 10px;
  border: none;
  color: white;
  font-weight: 500;
  @apply bg-gray-600;
  border-radius: 9999px;
}
.reset div {
  margin-top: 7px;
}
